/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2015, 12:46:28 PM
    Author     : anuz
*/

#currencyDisplayPlot{
    background-color:#F5F2EB;
        /*#F5F2EB;*/
    border: 1px solid #CCC;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;  
    margin-right: 2px;
    background-color: teal;

}


#svglogo{
    width:50px;
    height:50px;
    
}

svg .bar{
    fill:purple;
    shape-rendering:crispEdges;
}

.bar-label{
    fill:white;
    text-anchor:end;
}

.axis line,
.axis path{
    fill:none;
    stroke:#000;
    shape-rendering:crispEdges;
}